@using WebIdentity.Models
@model Department
<form asp-controller="Department" asp-action="AddDepartment" method="post">
    <label asp-for="DepartmentName"></label>
    <input asp-for="DepartmentName" />
    <br />
    <button type="submit">Add Department</button>
</form>


