@using WebIdentity.Models
@model Registration

<h3>Club Information</h3>
<table border="1" class="table table-striped table-bordered ">
    <tr>
        <th>Club ID</th>
        <th>Club Name</th>
        <th>Number Of Students</th>
    </tr>
    <tr>
        <td>@ViewBag.Club.ClubId</td>
        <td>@ViewBag.Club.ClubName</td>
        <td>@ViewBag.Club.NumberOfStudents</td>
    </tr>
</table>
@{
    if (ViewBag.Club.NumberOfStudents > 20)
    {
        <p>This club is full. Try at a different time.</p>
        <p><a asp-controller="Club" asp-action="AllClub">Back to club list</a></p>
    }
    else
    {
        <form asp-controller="Club" asp-action="RegisterClub" method="post" class="form">
            <div class="card col-md-4 pt-4 mb-2">
                <div class="form-group">
                    <label asp-for="StudentId"></label>
                    <input asp-for="StudentId" />
                </div>
            </div>
            <input asp-for="ClubId" type="hidden" value="@ViewBag.Club.ClubId" />
            <button type="submit" class="btn btn-success">Register in a Club</button>
        </form>
    }
}





