@using WebIdentity.Models
@model IEnumerable<Student>

@{
    ViewData["Title"] = "AllStudent";
}
<p><a asp-action="AddStudent" class="btn btn-primary">Add an student</a></p>
@{
    if (Model.Count() < 1)
    {
        <p>No student in database yet</p>
    }
    else
    {
        <h3>All Students</h3>
        <table border="1" class="table table-striped table-bordered ">
            <tr>
                <th>Student Id</th>
                <th>Student Name</th>
            </tr>
            @foreach (var student in Model)
            {
                <tr>
                    <td>@student.StudentId</td>
                    <td>@student.StudentName</td>
                </tr>
            }
        </table>
    }
}





